<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        /*body        { padding-top:80px; word-wrap:break-word; }*/
    </style>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Brand</a>
                <p class="navbar-text fa fa-user">Signed in as  <%= user.local.email %><br></p>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/logout" >Logout</a></li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <!-- LOCAL INFORMATION -->
    <!--<div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>-->

    <div class="row">
        <iframe class="col-md-12" src="/red" height="800" frameborder="0"></iframe>
    </div>

</div>
</body>
</html>